<% if @disease && @disease.count > 0 %>
    <p>
      <strong>Description:</strong>
      <%= @disease.description %>
    </p>
    
    <p>
      <strong>Name:</strong>
      <%= @disease.name %>
    </p>
    
    <p>
      <strong>Link:</strong>
      <%= @disease.link %>
    </p>
    
    <p>
      <strong>Early signs:</strong>
      <%= @disease.early_signs %>
    </p>

    <h1>Listing prevalances</h1>
    
    <table>
      <thead>
        <tr>
          <th>Case count</th>
          <th>Disease</th>
          <th>Screened</th>
          <th>California region</th>
          <th>Disorder percent</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @disease.prevalances.each do |prevalance| %>
          <tr>
            <td><%= prevalance.case_count %></td>
            <td><%= prevalance.disease %></td>
            <td><%= prevalance.screened %></td>
            <td><%= prevalance.california_region %></td>
            <td><%= prevalance.disorder_percent %></td>
            <!--<td><%= link_to 'Show', prevalance %></td>-->
            <!--<td><%= link_to 'Edit', edit_prevalance_path(prevalance) %></td>-->
            <!--<td><%= link_to 'Destroy', prevalance, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
          </tr>
        <% end %>
      </tbody>
    </table>
    <% else %>
        <p>
      <strong>Description:</strong>
     
    </p>
    
    <p>
      <strong>Name:</strong>

    </p>
    
    <p>
      <strong>Link:</strong>

    </p>
    
    <p>
      <strong>Early signs:</strong>
      
    </p>
<% end %>

<h1>Listing screening_locations</h1>

<table>
  <thead>
    <tr>
      <th>Disease</th>
      <th>Street</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Zipcode</th>
      <th>Longitude</th>
      <th>Latitude</th>
      <th>State</th>
      <th>Homepage</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<% if @disease && @disease.screening_locations.to_a.emtpy? %>
  <tbody>
    <% @disease.screening_locations.each do |screening_location| %>
      <tr>
        <td><%= screening_location.disease %></td>
        <td><%= screening_location.street %></td>
        <td><%= screening_location.name %></td>
        <td><%= screening_location.phone %></td>
        <td><%= screening_location.zipcode %></td>
        <td><%= screening_location.longitude %></td>
        <td><%= screening_location.latitude %></td>
        <td><%= screening_location.state %></td>
        <td><%= screening_location.homepage %></td>
        <!--<td><%= link_to 'Show', screening_location %></td>-->
        <!--<td><%= link_to 'Edit', edit_screening_location_path(screening_location) %></td>-->
        <!--<td><%= link_to 'Destroy', screening_location, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
    <% end %>
    
  </tbody>
</table>

<iframe src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d102285.60032190249!2d-119.788725!3d36.7603704!3m2!1i1024!2i768!4f13.1!2m1!1sprenatal+care+fresno!5e0!3m2!1sen!2sus!4v1433613341748" width="800" height="600" frameborder="0" style="border:0"></iframe>