<!DOCTYPE html>
<html>
<head>
  <title>Central Valley Healthy Baby</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:700|Roboto:400,500' rel='stylesheet' type='text/css'> 
</head>
<body>
<%= yield %>
<%= render 'home/footer' %>
</body>
</html>